:root {
  --body-font: "Poppins,sans-serif";
}

body {
  margin: 0;
  font-family: var(--body-font);
  overflow-x: hidden;
  background-color: #e5e5e5;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  border-bottom: #e5e5e5;
  box-shadow: 0 8px 16px #4053fc3d;
}

.nav_section {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 8vh;
}

article p {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 30px;
  color: #344563;
  margin-top: 30px;
  padding-right: 10px;
}

.connect {
  margin-left: 2px;
}

article a {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #7f8cff;
  cursor: col-resize;
  margin-top: 2%;
  margin-left: 2px;
}

.social-media {
  margin-left: 120px;
  padding-right: 100px;
  padding-left: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  color: #344563;
}

.social-media ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
}

nav a {
  text-decoration: none;
  color: #344563;
}

button a {
  text-decoration: none;
  font-size: 17px;
  color: #396df2;
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 500;
}

.about-me a {
  color: #7f8cff;
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.social-media2 li {
  margin-right: 20px;
}

.sub-lang a {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  align-items: center;
  margin-top: 25px;
  margin-left: 15px;
  color: #253858;
}

.my_logo a {
  color: "#6070ff";
  margin-top: 10;
  text-decoration: none;
  flex: 0 1 60%;
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.social-links {
  left: 24px;
}

.social-links a {
  color: #505f79;
  font-weight: 800;
  font-size: 25px;
}

.links {
  display: none;
  flex: 0 1 50%;
}

.skills a {
  text-decoration: none;
}

nav a:hover {
  color: red;
}

.headline1 {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #fff;
  background-image: url("images/Headerbg.svg");
  background-repeat: no-repeat;
  background-position: 90% 20%;
  margin: 0%;
  background-size: 100%;
  border-bottom-left-radius: 50px;
}

article {
  padding-left: 8%;
  padding-right: 2%;
  padding-top: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

article h1 {
  font-size: 40px;
  color: #172b4d;
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 800;
  padding-right: 10px;
  margin: 0;
}

.about-me li {
  margin: 0 10px 0 0;
}

.footer li {
  list-style-type: none;
}

.social-links ul {
  list-style: none;
  display: flex;
  padding-right: 10px;
}

.frame2 li {
  margin-left: 30px;
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.tags li {
  color: #3b4eff;
  font: 500 12px;
  padding: 0 5px 0 10px;
  background: #ebebff;
  border-radius: 8px;
  text-decoration: none;
  margin: 0 15px 0 0;
  display: flex;
  justify-content: flex-start;
}

.sub-lang li {
  margin-bottom: 5%;
  background: #f7f7f9;
  padding-right: 5%;
}

.social-links ul li {
  display: flex;
  margin-right: 3%;
}

.grid_container {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  margin-top: 20px;
  padding: 20px;
}

.block1 {
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  justify-content: center;
}

.block1a img {
  width: 82%;
  margin-top: 2%;
  margin-left: -1%;
}

.item1b {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 1%;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame2 {
  display: flex;
}

.frame2 span {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #344563;
}

.frame2 ul {
  display: flex;
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.role ::before {
  content: " ";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  margin-left: -22px;
  background-color: #c1c7d0;
  margin-top: 5px;
}

.item1b h2 {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: -15%;
  color: #091e42;
}

.item1b p {
  font-family: var(--body-font);
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 0 40px 0 1px;
  color: #344563;
}

.item1b button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 38px;
  left: 0;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 3%;
}

.tags {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  align-items: flex-start;
  justify-content: flex-start;
}

.tags ul {
  list-style: none;
  display: flex;
  padding-left: 0%;
}

.item2 {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
}

.item2a img {
  width: 90%;
  margin-top: -2%;
  border-radius: 8px;
  margin-left: 10%;
}

.item3 {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
}

.item3a img {
  width: 85%;
  border-radius: 8px;
  margin-left: -1%;
}

.item4 {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  flex-wrap: wrap;
}

.item4a img {
  width: 85%;
  border-radius: 8px;
  margin-left: 10%;
}

.grid-container2 {
  left: 375px;
  background: #fff;
  border-top-right-radius: 120px;
  display: grid;
  grid-template-columns: auto;
}

.about-me {
  display: flex;
  padding: 29px;
  flex-direction: column;
  padding-top: 100px;
  margin: 0;
}

.about-me h1 {
  color: #172b4d;
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.about-me p {
  color: #344563;
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 134px;
  height: 38px;
  left: 0;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
}

.links i {
  color: #505f79;
  font-size: 50px;
}

.about-me ul {
  display: flex;
  list-style: none;
  margin-left: 17px;
}

.footer {
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 10%;
  background: #6070ff url("images/contact_form_background_shapes.svg") no-repeat 100% 90%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  padding: 24px;
  margin-right: 10px;
}

.footer-container p {
  align-items: center;
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ebebff;
  padding: 0%;
  margin-top: -20px;
}

.footer-container h1 {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0;
}

.skills ul {
  list-style: none;
}

.languages {
  height: 24px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  color: #344563;
  padding: 0;
}

.frame {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.skl {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.sub-lang img {
  width: 48px;
  height: 48px;
  left: 12px;
  border: 1px solid #fff;
  align-items: center;
  margin-top: 10px;
  padding: 0;
}

.language ul li {
  display: flex;
  margin: 36px 0;
  flex-direction: row;
  padding: 12px;
  margin-right: 2rem;
  border-radius: 7px;
  gap: 12px;
  align-items: center;
  top: 72px;
}

.arrow {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 150px;
}

.arrow2 {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: 220px;
}

.social-media2 {
  margin-left: -9%;
}

.line2 {
  margin-top: 30px;
  border-top: 1px solid #dfe1e6;
}

form {
  margin-top: -30px;
  display: flex;
  margin-right: 11%;
  padding: 20px;
  align-items: center;
}

.footer li input {
  border: 1px solid #cfd8dc;
  width: 290px;
  margin-top: 10px;
  border-radius: 8px;
  padding: 24px;
}

.footer textarea {
  padding: 24px;
}

.footer li textarea {
  border: 1px solid #cfd8dc;
  height: 180px;
  width: 290px;
  margin-top: 10px;
  border-radius: 8px;
}

.footer li button {
  border: 1px solid #fff;
  padding: 12px 16px;
  border-radius: 8px;
  font-family: "poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #6070ff;
  cursor: pointer;
  transition: 1.2s all;
}

.footer li button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px #0000003d;
  background: #2230d2;
  border-radius: 8px;
}

.footer li button:hover {
  transform: scale(1.05);
  background: #6070ff;
  color: white;
  box-shadow: 0 8px 16px #4053fc3d;
  border-radius: 8px;
}

.log {
  transition: all 1s ease-in-out;
}

.log:hover {
  background-color: transparent;
  transform: rotate(180deg);
}

.animation {
  transition: all 1s ease;
}

.animation:hover {
  transform: scale(2);
}

@media screen and (min-width: 768px) {
  .nav_section {
    padding: 0 5rem;
    height: auto;
  }

  .menu {
    display: none;
  }

  .links {
    display: flex;
    color: black;
  }

  nav ul li {
    margin-left: 10%;
    margin-right: 5%;
  }

  .links:hover {
    font-size: large;
  }

  .logo {
    transition: all 1s ease-in-out;
  }

  .logo:hover {
    background-color: transparent;
    transform: rotate3d(180deg);
  }

  .headline1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 130px;
  }

  article {
    padding-top: 5%;
    height: auto;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 90px;
    flex-wrap: wrap;
  }

  article h1 {
    font-size: 48px;
    align-items: center;
    justify-content: center;
    font-weight: 800px;
    font-family: var(--body-font);
    padding-top: 30px;
    padding-left: 5px;
  }

  article p {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    flex-wrap: wrap;
  }

  .social-links {
    margin-left: 90px;
    padding-right: 100px;
    padding-left: 10px;
  }

  .grid_container {
    display: grid;
    grid-template-columns: 94%;
    grid-template-rows: auto;
    justify-content: center;
    padding: 122px;
    row-gap: 122px;
    flex-wrap: wrap;
  }

  .block1 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    grid-template-rows: auto auto auto;
    padding-bottom: 10px;
  }

  .item2 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .item3 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .item4 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .block1a {
    flex-grow: 0;
    width: 35vw;
    height: 50vh;
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: 20px;
  }

  .item2a {
    flex-grow: 0;
    width: 35vw;
    height: 50vh;
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: 20px;
    order: 2;
  }

  .item4a {
    flex-grow: 0;
    width: 35vw;
    height: 50vh;
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: 10px;
    order: 2;
  }

  .item3a {
    flex-grow: 0;
    width: 35vw;
    height: 50vh;
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: 20px;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 122px;
    justify-content: center;
    align-items: center;
  }

  .sub-lang {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .sub-lang li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5%;
  }

  button:hover {
    background: #2230d2;
    color: white;
  }

  .item1b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    flex-wrap: wrap;
  }

  .item1b ul li {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    margin-top: -5px;
  }

  .item1b p {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .tags ul li {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    padding: 4px 12px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    background: #ebebff;
  }

  .about-me h1 {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .about-me p {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .skills {
    margin-top: 85px;
  }

  .arrow {
    align-items: flex-end;
    margin-left: 490px;
  }

  .arrow2 {
    align-items: flex-end;
    margin-left: 565px;
  }

  .footer {
    padding-left: 320px;
    padding-right: 319px;
    padding-bottom: 127px;
    padding-top: 142px;
    background-image: url("images/contact_form_background_shapes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
  }

  .footer-container h1 {
    margin-left: -35px;
  }

  .footer-container {
    padding-left: 103px;
    padding-right: 103px;
  }

  .footer form {
    padding-left: 177px;
    padding-right: 177px;
  }

  .footer li input {
    border-radius: 2px;
    margin-top: 24px;
    padding: 15px;
    width: 447px;
    margin-left: 29px;
  }

  .footer li textarea {
    margin-top: 24px;
    border-radius: 2px;
    width: 430px;
    margin-left: 29px;
  }

  .footer li button {
    margin-left: 195px;
    margin-top: 5%;
  }

  .line {
    display: none;
  }
}

@media (max-device-width: 1300px) {
  .block1 img {
    margin-left: 1%;
    width: 100%;
  }

  .item1b h2 {
    margin-top: -10%;
  }

  .item2a img {
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
  }
}
